body {
  font-family: 'VT323', monospace;
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(178, 220, 255);
  box-shadow: inset 0 0 10px 5px rgb(178, 220, 255);
  padding: 10px 20px;
  border-radius: 10px;
}

.game-canvas {
  display: flex;
  background-image: url('../assets/background.jpg');
  background-position: center;
  gap: 10px;
  padding: 25px;
  max-width: 1000px;
  min-width: 670px;
}

.game-board {
  position: relative;
  width: 387px;
  height: 834px;
  min-width: 387px;
  min-height: 834px;
  background-color: white;
  border: 1px solid black;
}

.start-game {
  font-size: 30pt;
  text-align: center;
  color: rgb(255, 95, 32);
}

.overall-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.next-piece {
  min-width: 170px;
  min-height: 190px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin-bottom: 25px;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 85%, rgba(1,29,239,1) 96%, rgba(10,91,107,1) 100%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.translucid {
  opacity: 0.3;
}

.square {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 2px;
  outline: 4px outset rgba(0, 0, 0, 0.4);
  outline-offset: -4px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.score-value {
  width: 60%;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30pt;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(179,179,246,1) 4%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 85%, rgba(178,187,255,1) 96%, rgba(10,91,107,1) 100%);
}

.audio-class {
  margin-top: 310px;
}

audio {
  width: 250px;
  margin-left: 20px;
}